<img src="../../assets/Img/personal.jpg" width="1710px" height="500px">
<div>
  <h1>Contacto</h1>
  <table>
    <tr>
      <td style="vertical-align: top;"><img src="../../assets/Img/contacto.jpg" width="300px"></td>
      <td style="vertical-align: top;"><a><strong>Grupo corporativo</strong><br>
                                          se encuentra ubicada en Puente Alto<br>
                                          Fono: 9961716133<br>
                                          fax: 9961716133<br>
                                          mail: corporacionIndustrias@hotmail.com</a></td>
    </tr>
  </table>
  <h3>Forma de contactar</h3>
  <fieldset style="width: 500px;">
    <legend>Tu Informacion</legend>    
    <table border="0" style="text-align: left;">
      <tr>
        <td style="text-align: right;"><a>Nombre Completo:</a></td>
        <td><input type="text" name="nombre"></td>
      </tr>
      <tr>
        <td style="text-align: right;"><a>Email:</a></td>
        <td><input type="text" name="email"></td>
      </tr>
      <tr>
        <td style="text-align: right;"><a>Telefono:</a></td>
        <td><input type="text" name="telefono"></td>
      </tr>     
    </table>    
  </fieldset>
  <fieldset style="width: 500px;">
    <legend>Tu Mensaje</legend>    
    <table border="0" style="text-align: left;">
      <tr>
        <td style="text-align: right;"><a>Sujeto:</a></td>
        <td><input type="text" name="sujeto"></td>
      </tr>
      <tr>
        <td style="text-align: right;"><a>Mensaje:</a></td>
        <td><textarea type="text" name="mensaje"></textarea></td>
      </tr>       
    </table>    
  </fieldset>
  <button onclick="">Enviar</button>
</div>
<div style="text-align: center;">
    <hr>
    <a routerLink="/home">Home</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/portafolio">Portafolio</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/servicio">Servicio</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/partners">Partners</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/contacto">Contacto</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/juegos">Juegos</a>
    <hr>
    <p>&copy; Copyright 2020 corporation. Derechos de autor</p>
  </div>
  
          