<img src="../../assets/Img/personal.jpg" width="1710px" height="500px">
<div>
    <h1>Servicios</h1>
    <h2>Turismo</h2>
    <a>Centro Turístico emplazado en medio de un bosque nativo a orillas del río Coihueco. Contamos
       con servicios de Alojamiento, Excursiones de Pesca, Kayak, Canopy, Circuito de Senderos, Avistamiento
       de Aves y Eventos. Estamos ubicados en Puerto Octay. Contamos con 4 tipos de cabañas, cuyo nombre
       indica el tipo de madera con que fueron construidas LINGUE / RAULÍ / MAÑIO y LENGA, todas ellas de 55 m2
       con 2 dormitorios independientes, 1 baño, cocina incorporada a la sala y una amplia terraza con vistas 
       abiertas y luminosas permitiendo que el paisaje entre en la cabaña. Su decoración es de estilo rustico 
       ofreciendo mucha calidez ya que cada espacio fue pensado para ser confortable, tranquilo y acogedor. Además 
       el Lodge cuenta con un restaurant y centro de eventos, abierto al público en general, con amplios comedores, 
       bar, terraza hacia el río y una sala de juegos para niños. Este se encuentra emplazado en una especie de isla, 
       por un lado el río Coihueco y por el otro un hermoso arroyo, que en conjunto con su cálida ambientación hace de 
       este restaurante el lugar ideal para una velada en pareja o una agradable cena entre amigos al borde del río.</a>
       <br><br>
    <h2>Hospedaje</h2>
    <a>A tan solo una hora y media de Santiago y a 30 minutos de Rancagua hacia la zona precordillerana en la comuna
       de Machalí, te encontrarás con el histórico Hotel Termas de Cauquenes, cuya tradición hotelera data del siglo XVII. 
       Aquí podrás estar en contacto con la naturaleza junto al río Cachapoal, disfrutar en nuestro restaurante de la buena 
       gastronomía chilena, y disfrutar de un relajante baño en las aguas termales que son reconocidas por sus propiedades 
       curativas. El hotel cuenta con 53 cómodas habitaciones, ideales para viajar en familia o en pareja. Contamos con 
       servicio de desayuno, almuerzo, once y cena para nuestros huéspedes, a través de un menú diario de 4 tiempos o más, 
       en el que podrán escoger opciones de entrada, plato principal y postre. Para el descanso y desconexión tenemos una 
       piscina termal exterior, una gruta termal techada y un pabellón termal que posee tinas termales hechas de mármol. 
       Una de ellas incluso fue utilizada por nuestro Libertador Bernardo O´Higgins. También los visitantes podrán disfrutar 
       del aire libre gracias al Parque Centenario, un bosque colindante que cuenta con senderos y juegos para niños, ideal 
       para realizar caminatas o cabalgatas. En Hotel Termas de Cauquenes ofrecemos además tres salones de eventos, con 
       capacidad de hasta 160 personas, ideales para celebrar matrimonios o cumpleaños, o realizar seminarios, talleres, 
       capacitaciones o conferencias para el turismo corporativo.</a>
       <br><br>
    <h2>Actividad</h2>
    <a>El turismo-aventura se diferencia del deporte de aventura, principalmente, porque en este último no existe una relación 
       contractual de carácter económico, la cual es desarrollada por personas cuya relación en la práctica de la actividad es 
       exclusivamente recreativa o deportiva (deportistas, grupos de amigos, familias) o académica (escuelas de deportes, clubes 
       deportivos, etc.), generándose una relación instructor-alumno. Las actividades de turismo aventura, si bien se derivan de 
       la práctica del deporte aventura ya sea por deportistas fuera de su lugar de residencia habitual o por personas que desean 
       experimentar la práctica de estos deportes en el medio natural pero debe existir una relación económica (prestador de 
       servicios-cliente), lo que permite definir claramente las responsabilidades contractuales entre un prestador (tour operador, 
       agencia de viajes, guía de turismo) que ofrezca este servicio y un cliente (excursionista o turista) quien está dispuesto 
       a pagar por estos servicios. Las actividades desarrolladas en el medio natural son en muchas ocasiones las mismas (excursionismo 
       o trekking, montañismo, descenso en balsa o rafting, etc), salvo aquellas que son exclusivamente con fines deportivos y 
       de competición (campeonatos, rallies, etc.)</a>
</div>
<div style="text-align: center;">
    <hr>
    <a routerLink="/home">Home</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/portafolio">Portafolio</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/servicio">Servicio</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/partners">Partners</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/contacto">Contacto</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/juegos">Juegos</a>
    <hr>
    <p>&copy; Copyright 2020 corporation. Derechos de autor</p>
</div>