<img src="../../assets/Img/personal.jpg" width="1710px" height="500px">
<div>
  <h1>Partners</h1>
  <h2>Matias Santis</h2>
  <table>
    <tr>
      <td style="vertical-align: top;"><img src="../../assets/Img/matias.jpg" width="300px"></td>
      <td style="vertical-align: top; width: 500px;"><a>Nombre completo Matias Antonio Alexander Santis Alcaino, nacio el 21 de enero de 1997 en Santiago de chile, 
             en estos momentos se encuentra estudian Ingenieria en Informatica en el IpChile, su hobby es estar en el 
             computador y jugar todo tipo de juegos.</a></td>
    </tr>
  </table>
  <h2>Eduardo Mancilla</h2>
  <table>
    <tr>
      <td style="vertical-align: top;"><img src="../../assets/Img/eduardo.jpg" width="300px"></td>
      <td style="vertical-align: top; width: 500px;"><a>Nombre completo Eduardo Alfredo Mancilla Araya, nacio el 24 de noviembre de 1999 en Santiago de chile, 
        en estos momentos se encuentra estudian Ingenieria en Informatica en el IpChile, su hobby es tocar Piano y jugar videojuegos. </a></td>
    </tr>
  </table>
</div>
<div style="text-align: center;">
    <hr>
    <a routerLink="/home">Home</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/portafolio">Portafolio</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/servicio">Servicio</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/partners">Partners</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/contacto">Contacto</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/juegos">Juegos</a>
    <hr>
    <p>&copy; Copyright 2020 corporation. Derechos de autor</p>
  </div>