<img src="../../assets/Img/paisaje.jpg" width="1710px" height="500px">
<div>
    <h1>Portafolio</h1>
    <table border="0">
        <tr>
            <td style="vertical-align: top;"><img src="../../assets/Img/maravilla1.jpg" width="300"></td>
            <td style="vertical-align: top; width: 500px;"><a>Chichén Itzá (en maya: Boca-del-pozo (chichén) de los brujos-de-agua (Itzá))? es uno de los principales 
                sitios arqueológicos de la península de Yucatán, en México. Está ubicado en el municipio de Tinum, en el
                estado de Yucatán. Consistió en una ciudad o un centro ceremonial, que pasó por diversas épocas constructivas
                e influencias de los distintos pueblos que la ocuparon y que la impulsaron desde su fundación. Vestigio importante
                y renombrado de la civilización maya, las edificaciones principales que ahí perduran corresponden al periodo denominado
                clásico tardío o postclásico temprano (800-1100 d. C.).</a></td>
            <td style="vertical-align: top;"><img src="../../assets/Img/maravilla2.jpg" width="300"></td>
            <td style="vertical-align: top; width: 500px;"><a>El Coliseo o Anfiteatro Flavio es un anfiteatro de la época del Imperio romano, construido en el siglo I y
                   ubicado en el centro de la ciudad de Roma. Su denominación original, Anfiteatro Flavio, hace referencia a la
                   dinastía Flavia de emperadores que lo construyó; su nombre posterior, Coliseo, y por el que es más conocido
                   en la actualidad, se debe a una gran estatua que había cerca, el Coloso de Nerón, que no ha llegado hasta nosotros.
                   Por su conservación e historia, el Coliseo es uno de los monumentos más famosos de la Antigüedad clásica. Fue declarado
                   Patrimonio de la Humanidad en 1980 por la Unesco y una de Las Nuevas Siete Maravillas del Mundo Moderno el 7 de julio de 2007.</a></td>
        </tr>
        <tr>
            <td style="vertical-align: top;"><img src="../../assets/Img/maravilla3.jpg" width="300"></td>
            <td style="vertical-align: top; width: 500px;"><a>El Cristo Redentor o Cristo del Corcovado es una enorme estatua de Jesús de Nazaret con los brazos abiertos
                   mostrando a la ciudad de Río de Janeiro, Brasil. La estatua tiene una altura de 30,1 metros sobre un pedestal
                   de 8 metros. Este monumento fue inaugurado el 12 de octubre de 1931, después de aproximadamente cinco años de
                   construcción. Considerando la segunda estatua Art decó más grande del mundo, es reconocida como una de las nuevas
                   siete maravillas del mundo moderno junto a Machu Picchu, la Gran Muralla China, el Coliseo de Roma, el Taj Mahal,
                   Chichén Itzá y Petra..</a></td>
            <td style="vertical-align: top;"><img src="../../assets/Img/maravilla4.jpg" width="300"></td>
            <td style="vertical-align: top; width: 500px;"><a>La Gran muralla China es una antigua fortificación china construida y reconstruida entre el siglo V a. C. y el
                   siglo XVI (Edad Moderna) para proteger la frontera norte del Imperio chino durante las sucesivas dinastías
                   imperiales de los ataques de los nómadas xiongnu de Mongolia y Manchuria. Contando sus ramificaciones y
                   construcciones secundarias, se calcula que tiene unos 21 200 kilómetros de largo, desde la frontera con Corea,
                   al borde del río Yalu, hasta el desierto de Gobi, a lo largo de un arco que delinea aproximadamente el borde sur
                   de Mongolia Interior, aunque hoy solo se conserva un 30 % de ella.</a></td>
        </tr>
        <tr>
            <td style="vertical-align: top;"><img src="../../assets/Img/maravilla5.jpg" width="300"></td>
            <td style="vertical-align: top; width: 500px;"><a>Machu Picchu (pronunciado /mɑtʃu ˈpiktʃu/ en quechua, «Monte viejo») es el nombre contemporáneo que se da a una
                   llaqta —antiguo poblado incaico andino— construida antes del siglo XV, ubicada en la Cordillera Oriental del sur
                   de Perú, en la cadena montañosa de Los Andes a 2430 metros sobre el nivel del mar. Está ubicada en la región Cusco,
                   provincia de Urubamba, distrito de Machupicchu, sobre el Valle Sagrado de los Incas, a 80 kilómetros al noroeste
                   de la ciudad de Cusco, ciudad del Perú y por donde fluye el río Urubamba, río que atraviesa la cordillera y origina
                   un cañón con clima de montaña tropical. Según muchos estudiosos su nombre original habría sido Llaqtapata.</a></td>
            <td style="vertical-align: top;"><img src="../../assets/Img/maravilla6.jpg" width="300"></td>
            <td style="vertical-align: top; width: 500px;"><a>Petra (en griego antiguo, Πέτρα, en árabe, البتراء al-Batrā´) es un importante enclave arqueológico en Jordania,
                   y la capital del antiguo reino nabateo, cuyos pobladores la llamaban Raqmu (en árabe nabateo, الرقيم).1​ El nombre
                   de Petra proviene del griego πέτρα que significa piedra, y su nombre es idóneo ya que no se trata de una ciudad
                   construida con piedra, si no literalmente excavada y esculpida en la piedra.</a></td>
        </tr>
        <tr>
            <td style="vertical-align: top;"><img src="../../assets/Img/maravilla7.jpg" width="300"></td>
            <td style="vertical-align: top; width: 500px;">El Taj Mahal (hindi: ताज महल Tāj Mahal, urdu: تاج محل Tāŷ Mahal 'Corona de los palacios'; /tɑːʒ mə'hɑl/)​ es un
                monumento funerario construido entre 1631 y 1654 en la ciudad de Agra, estado de Uttar Pradesh (India), a orillas del
                río Yamuna, por el emperador musulmán Shah Jahan de la dinastía mogol. El imponente conjunto de edificios se erigió en
                honor de su esposa favorita, Arjumand Banu Begum —más conocida como Mumtaz Mahal— que murió en el parto de su decimocuarto
                hijo. Se estima que en su construcción trabajaron unos 20 000 obreros bajo dirección de un conjunto de arquitectos
                liderados por el arquitecto de la corte, Ustad Ahmad Lahori.</td>
            
        </tr>
    </table>
</div>
<div style="text-align: center;">
    <hr>
    <a routerLink="/home">Home</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/portafolio">Portafolio</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/servicio">Servicio</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/partners">Partners</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/contacto">Contacto</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/juegos">Juegos</a>
    <hr>
    <p>&copy; Copyright 2020 corporation. Derechos de autor</p>
  </div>