<img src="../../assets/Img/videojuego.jpg" width="1710px" height="500px">
<div style="text-align: center">
    <button mat-raised-button (click)="presion(0,0)" class="casilla">{{posiciones[0][0]}}</button>
    <button mat-raised-button (click)="presion(0,1)" class="casilla">{{posiciones[0][1]}}</button>
    <button mat-raised-button (click)="presion(0,2)" class="casilla">{{posiciones[0][2]}}</button>
    <br>
    <button mat-raised-button (click)="presion(1,0)" class="casilla">{{posiciones[1][0]}}</button>
    <button mat-raised-button (click)="presion(1,1)" class="casilla">{{posiciones[1][1]}}</button>
    <button mat-raised-button (click)="presion(1,2)" class="casilla">{{posiciones[1][2]}}</button>
    <br>
    <button mat-raised-button (click)="presion(2,0)" class="casilla">{{posiciones[2][0]}}</button>
    <button mat-raised-button (click)="presion(2,1)" class="casilla">{{posiciones[2][1]}}</button>
    <button mat-raised-button (click)="presion(2,2)" class="casilla">{{posiciones[2][2]}}</button>
  </div>
  <div style="text-align: center">
    <button mat-button color="primary" (click)="reiniciar()">Reiniciar</button>
  </div>
  <div style="text-align: center">
  <ul *ngFor="let sitio of sitios">
  
  </ul>
</div>
<div style="text-align: center;">
    <hr>
    <a routerLink="/home">Home</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/portafolio">Portafolio</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/servicio">Servicio</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/partners">Partners</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/contacto">Contacto</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/juegos">Juegos</a>
    <hr>
    <p>&copy; Copyright 2020 corporation. Derechos de autor</p>
  </div>