<img src="../../assets/Img/paisaje.jpg" width="1710px" height="500px">
<div>
    <h1>Las Maravillas del Mundo</h1>
    <h2>Las 7 Maravillas del mundo moderno</h2>
    <a>Se denominan las nuevas siete maravillas del mundo moderno a los monumentos que resultaron los ganadores en
       un concurso público e internacional celebrado en 2007, inspirado en la lista de las siete maravillas del mundo 
       antiguo y realizado por una empresa privada de nombre New Open World Corporation. Más de cien millones de votaciones, 
       a través de Internet y SMS, dieron como resultado esta nueva clasificación. La iniciativa partió del empresario suizo 
       Bernard Weber, fundador de la empresa.</a>
       <br><br>
    <h2>Antiguas 7 Maravillas del mundo</h2>
    <table border="0">
        <tr>
            <td style="vertical-align: top;"><img src="../../assets/Img/Maravillas.jpg" width="500"></td>            
            <td style="vertical-align: top; width: 600px;"><a>Las siete maravillas del mundo conocido por los griegos helenísticos fueron seleccionadas por el pintor neerlandés
                Maerten van Heemskrerck en el siglo XVI en una serie de siete cuadros, que muestran las obras arquitectónicas y escultóricas
                que marcaron un antes y un después en la historia. 1​ Previamente autores como Filón de Bizancio, Antípatro de Sidón, Gregorio
                Nacianceno o Beda el Venerable, entre otros, habían confeccionado sus respectivos listados. Sólo una de ellas se mantiene actualmente
                en pie. Mientras la existencia de otras es todavía un misterio para investigadores y expertos en la materia. La pregunta más frecuente
                es: ¿por qué escogieron solo siete puntos de referencia? La cultura helenística consideraba tal cifra como el número perfecto</a></td>    
        </tr>
    </table>
    <p>-El Coloso de Rodas</p>
    <p>-Los Jardines Colgantes de Babilonia</p>
    <p>-la Estatua de Zeus en Olimpia</p>
    <p>-El Mausoleo de Halicarnaso</p>
    <p>-al Faro de Alejandría</p>
    <p>-El Templo de Artemisa</p>
    <p>-la Gran Pirámide</p>    
</div>
<div style="text-align: center;">
    <hr>
    <a routerLink="/home">Home</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/portafolio">Portafolio</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/servicio">Servicio</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/partners">Partners</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/contacto">Contacto</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/juegos">Juegos</a>
    <hr>
    <p>&copy; Copyright 2020 corporation. Derechos de autor</p>
  </div>
